<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta
          content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
          name="viewport"
  />
  <title>Eventmania</title>
  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
  />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" th:src="@{/js/test.js}"></script>
  <link type="text/css" rel="stylesheet" th:href="@{/css/userProfile.css}" />
</head>
<body>
<div class="container">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="mb-3 d-flex flex-column align-items-center text-center">
        <div class="card w-50">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-start">
              <img
                      src="https://www.shutterstock.com/image-photo/view-ankara-castle-general-old-600w-311528960.jpg"
                      alt="Admin"
                      width="500"
              />
              <small class="col-9 text-start" th:text="${event.startdate}"></small>
              <div
                      class="mt-3 col-9 d-flex flex-row align-items-center justify-content-between"
              >
                <h4 th:text="${event.title}"></h4>
                <a
                        class="btn btn-success ms-3 text-nowrap"
                        target="__blank"
                        href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills"
                >Join Event</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column align-items-center text-center">
        <div class="card mb-3 w-50">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Event Type</h6>
              </div>
              <div th:each="type: ${event.eventTypes}">
              <div class="col-sm-9 text-secondary" th:text="${type}"></div>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Description</h6>
              </div>
              <div class="col-sm-9 text-secondary" th:text="${event.eventDescription}"></div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Start Date</h6>
              </div>
              <div class="col-sm-9 text-secondary" th:text="${event.startdate}"></div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">End Date</h6>
              </div>
              <div class="col-sm-9 text-secondary" th:text="${event.enddate}">
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Location</h6>
              </div>
              <div class="col-sm-9 text-secondary">05360362311</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Age Restriction</h6>
              </div>
              <div class="col-sm-9 text-secondary" th:text="${event.minimumAge}"></div>
            </div>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>
